{
    "openapi": "3.0.1",
    "info": {
        "title": "Taxes",
        "description": "",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "You want to include a percentage sales tax on quotes, depending on state requirements.",
        "x-hubspot-related-documentation": [
            {
                "name": "Taxes Guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/crm/commerce/taxes"
            }
        ],
        "x-hubspot-introduction": "Use the taxes API to create and manage taxes that can be included in quotes. "
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/objects/taxes"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Basic"
        },
        {
            "name": "Search"
        }
    ],
    "paths": {
        "/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read a batch of taxes by ID",
                "operationId": "post-/crm/v3/objects/taxes/batch/read_read",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ],
                "description": "Returns a batch of tax objects matching the provided internal IDs or unique property values, with partial success indicated by a 207 response."
            }
        },
        "/{taxId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Retrieve a tax by ID",
                "description": "Read an Object identified by `{taxId}`. `{taxId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/taxes/{taxId}_getById",
                "parameters": [
                    {
                        "name": "taxId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tax record to retrieve."
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Archive a tax by ID",
                "description": "Move an Object identified by `{taxId}` to the recycling bin.",
                "operationId": "delete-/crm/v3/objects/taxes/{taxId}_archive",
                "parameters": [
                    {
                        "name": "taxId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tax record to archive."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Partially update a tax",
                "description": "Perform a partial update of an Object identified by `{taxId}`. `{taxId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
                "operationId": "patch-/crm/v3/objects/taxes/{taxId}_update",
                "parameters": [
                    {
                        "name": "taxId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the tax record to update."
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Archive a batch of taxes by ID",
                "operationId": "post-/crm/v3/objects/taxes/batch/archive_archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Archives the specified batch of tax records by ID. Returns no content on success."
            }
        },
        "/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create a batch of taxes",
                "operationId": "post-/crm/v3/objects/taxes/batch/create_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns the newly created batch of tax objects, with partial success indicated by a 207 response."
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Update a batch of taxes",
                "operationId": "post-/crm/v3/objects/taxes/batch/update_update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns the updated batch of tax objects, including any partial success details for multi-status responses."
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Retrieve a page of taxes",
                "description": "Read a page of taxes. Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/taxes_getPage",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create a new tax",
                "description": "Create a tax with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard taxes is provided.",
                "operationId": "post-/crm/v3/objects/taxes_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            }
        },
        "/batch/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Upsert a batch of taxes",
                "description": "Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
                "operationId": "post-/crm/v3/objects/taxes/batch/upsert_upsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "operationId": "post-/crm/v3/objects/taxes/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicObjectSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ],
                "description": "Returns a collection of tax objects matching the specified search criteria and filters.",
                "summary": "Search for taxes"
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Optional sub-category providing additional error classification."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Key-value map of contextual data related to the error."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the error."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the error instance."
                    },
                    "category": {
                        "type": "string",
                        "description": "High-level category classifying the error type."
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable message describing the error."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "description": "List of detailed error entries associated with the failure."
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status code or status label for the error response."
                    }
                },
                "description": "Standard error response structure returned by the Taxes API."
            },
            "CollectionResponseAssociatedId": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Paging metadata for navigating the result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociatedId"
                        },
                        "description": "Array of associated IDs returned in the response."
                    }
                },
                "description": "Paginated collection of associated object IDs."
            },
            "PublicAssociationsForObject": {
                "required": [
                    "to",
                    "types"
                ],
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "description": "List of association type specifications for the target object."
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The target object to associate with."
                    }
                },
                "description": "Defines an association target object and its association types."
            },
            "BatchResponseSimplePublicObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation started processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of supplemental links related to the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of tax objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current status of the batch operation."
                    }
                },
                "description": "Batch operation response containing results and processing status."
            },
            "FilterGroup": {
                "required": [
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        },
                        "description": "Array of filter conditions applied within this group."
                    }
                },
                "description": "A group of filters combined to narrow search results."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                },
                "description": "Detailed information about a specific error condition."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor reference to the next page of results."
                    }
                },
                "description": "Pagination object for forward-direction cursor navigation."
            },
            "SimplePublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the object."
                    }
                },
                "description": "An object containing a unique identifier for a public record."
            },
            "BatchResponseSimplePublicUpsertObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of successfully upserted tax objects."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of errors encountered during the batch upsert."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current status of the batch upsert operation."
                    }
                },
                "description": "Batch upsert response including results, errors, and status details."
            },
            "BatchReadInputSimplePublicObjectId": {
                "required": [
                    "inputs",
                    "properties",
                    "propertiesWithHistory"
                ],
                "type": "object",
                "properties": {
                    "propertiesWithHistory": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of properties to return along with their historical values."
                    },
                    "idProperty": {
                        "type": "string",
                        "description": "The property name used to identify objects in the batch."
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object IDs to retrieve in the batch read operation."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to include in the response."
                    }
                },
                "description": "Input schema for batch reading tax objects by ID."
            },
            "BatchResponseSimplePublicUpsertObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the batch operation started processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of upserted objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current status of the batch operation: PENDING, PROCESSING, CANCELED, or COMPLETE."
                    }
                },
                "description": "Response object containing the results and status of a batch upsert operation."
            },
            "BatchInputSimplePublicObjectId": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object IDs to process in the batch operation."
                    }
                },
                "description": "Input schema for a batch operation containing a list of object IDs."
            },
            "ValueWithTimestamp": {
                "required": [
                    "sourceType",
                    "timestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string",
                        "description": "Identifier of the source that provided the value."
                    },
                    "sourceType": {
                        "type": "string",
                        "description": "The type of source that set or modified the value."
                    },
                    "sourceLabel": {
                        "type": "string",
                        "description": "Human-readable label describing the value's source."
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the user who last updated the value."
                    },
                    "value": {
                        "type": "string",
                        "description": "The property value recorded at the associated timestamp."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Datetime when the value was recorded or last updated."
                    }
                },
                "description": "A property value paired with its source metadata and recorded timestamp."
            },
            "BatchInputSimplePublicObjectBatchInputUpsert": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputUpsert"
                        },
                        "description": "Array of tax records to upsert in batch."
                    }
                },
                "description": "Input schema for a batch upsert operation containing objects to create or update."
            },
            "CollectionResponseWithTotalSimplePublicObjectForwardPaging": {
                "required": [
                    "results",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of tax records matching the request."
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next page of results."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of tax records returned in the current page."
                    }
                },
                "description": "Paginated collection of tax records with a total count and forward paging cursor."
            },
            "SimplePublicObject": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "example": false,
                        "description": "Indicates whether the tax record is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "example": "512",
                        "description": "Unique identifier of the tax record."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value map of the tax record's property names and their current values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was last updated."
                    }
                },
                "example": {
                    "id": "512",
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_label": "A percentage-based fee of 10%",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_type": "PERCENT",
                        "hs_value": "10"
                    },
                    "createdAt": "2019-10-30T03:30:17.883Z",
                    "updatedAt": "2019-12-07T16:50:06.678Z",
                    "archived": false
                },
                "description": "Represents a tax record with its properties, timestamps, and archival status."
            },
            "PublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the public object."
                    }
                },
                "description": "Represents a public object identifier containing a unique ID string."
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor information for retrieving the next page of results."
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage",
                        "description": "Cursor information for retrieving the previous page of results."
                    }
                },
                "description": "Pagination object containing cursors for navigating to the next or previous page."
            },
            "PublicObjectSearchRequest": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "Full-text search query string to filter tax records."
                    },
                    "limit": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return per page."
                    },
                    "after": {
                        "type": "string",
                        "description": "Pagination cursor token for the next page of results."
                    },
                    "sorts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of sort criteria to order the search results."
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to include in the response."
                    },
                    "filterGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FilterGroup"
                        },
                        "description": "Groups of filters used to narrow search results."
                    }
                },
                "description": "Request payload for searching tax records with filters, sorting, and pagination."
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ],
                            "invalidPropertyName": [
                                "propertyValue"
                            ]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Represents an API error response with category, message, correlation ID, and contextual details."
            },
            "SimplePublicObjectBatchInputUpsert": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "The property name used as the unique identifier for upsert."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for tracking the object write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the tax object to upsert."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value map of tax object properties to create or update."
                    }
                },
                "description": "Input payload for upserting a single tax object in a batch operation."
            },
            "BatchResponseSimplePublicObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "List of successfully processed tax objects from the batch."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of errors encountered for individual objects in the batch."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch operation response containing results, errors, and processing status for tax objects."
            },
            "SimplePublicObjectInput": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for auditing the write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value map of tax property names and their string values."
                    }
                },
                "example": {
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A percentage-based fee of 10%",
                        "hs_value": "10",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input payload for creating or updating a tax object with its properties."
            },
            "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward paging cursor for retrieving the next page of results."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                        },
                        "description": "Array of tax objects returned in the current page."
                    }
                },
                "description": "Paginated collection of tax objects including their associated records."
            },
            "AssociationSpec": {
                "required": [
                    "associationCategory",
                    "associationTypeId"
                ],
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "USER_DEFINED",
                            "INTEGRATOR_DEFINED"
                        ],
                        "description": "Source category of the association: HUBSPOT_DEFINED, USER_DEFINED, or INTEGRATOR_DEFINED."
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Numeric identifier specifying the association type."
                    }
                },
                "description": "Defines the category and type of an association between objects."
            },
            "SimplePublicObjectWithAssociations": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectionResponseAssociatedId"
                        },
                        "description": "Map of associated object types to their related record collections."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the tax record is archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was archived."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Map of property names to their historical values with timestamps."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the tax record."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "description": "Key-value map of the tax record's current property values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the tax record was last updated."
                    }
                },
                "example": {
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_label": "A percentage-based fee of 10%",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_type": "PERCENT",
                        "hs_value": "10"
                    }
                },
                "description": "A tax object including its properties, metadata, and associated records."
            },
            "Filter": {
                "required": [
                    "operator",
                    "propertyName"
                ],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string",
                        "description": "Upper bound value for BETWEEN range filter operations."
                    },
                    "propertyName": {
                        "type": "string",
                        "description": "The name of the property to filter by."
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A list of values to match against the filter property."
                    },
                    "value": {
                        "type": "string",
                        "description": "A single value to match against the filter property."
                    },
                    "operator": {
                        "type": "string",
                        "description": "The comparison operator used to evaluate the filter condition against the property value.",
                        "enum": [
                            "EQ",
                            "NEQ",
                            "LT",
                            "LTE",
                            "GT",
                            "GTE",
                            "BETWEEN",
                            "IN",
                            "NOT_IN",
                            "HAS_PROPERTY",
                            "NOT_HAS_PROPERTY",
                            "CONTAINS_TOKEN",
                            "NOT_CONTAINS_TOKEN"
                        ]
                    }
                },
                "description": "Defines a filter condition using a property, operator, and comparison value."
            },
            "BatchInputSimplePublicObjectBatchInput": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInput"
                        },
                        "description": "An array of batch input objects to be updated."
                    }
                },
                "description": "A batch input wrapper containing an array of objects to update in bulk."
            },
            "BatchInputSimplePublicObjectInputForCreate": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                        },
                        "description": "An array of objects to be created in bulk."
                    }
                },
                "description": "A batch input wrapper containing an array of objects to create in bulk."
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "The cursor token representing the start of the previous page."
                    },
                    "link": {
                        "type": "string",
                        "description": "A direct URL link to the previous page of results."
                    }
                },
                "description": "Pagination cursor details for navigating to the previous page of results."
            },
            "SimplePublicUpsertObject": {
                "required": [
                    "createdAt",
                    "id",
                    "new",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the object was originally created."
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Indicates whether the object has been archived."
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the object was archived."
                    },
                    "new": {
                        "type": "boolean",
                        "description": "Indicates whether the object was newly created by the upsert."
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "A map of property values including their historical change timestamps."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the upserted object."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of property names to their current string values."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The datetime when the object was last updated."
                    }
                },
                "description": "Represents a tax object returned after an upsert operation, indicating whether it was newly created or updated."
            },
            "SimplePublicObjectBatchInput": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "example": "my_unique_property_name",
                        "description": "The unique property name used to identify the object."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace ID for tracking the object write operation."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the object to update."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of properties to set on the object."
                    }
                },
                "example": {
                    "id": "1",
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A percentage-based fee of 10%",
                        "hs_value": "10",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z"
                    }
                },
                "description": "Represents a single tax object in a batch update request, identified by ID and containing property values to update."
            },
            "AssociatedId": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the associated object."
                    },
                    "type": {
                        "type": "string",
                        "description": "The type defining the association relationship."
                    }
                },
                "description": "Represents an associated object with its ID and association type."
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "example": "?after=NTI1Cg%3D%3D",
                        "description": "The full URL link to the next page of results."
                    },
                    "after": {
                        "type": "string",
                        "example": "NTI1Cg%3D%3D",
                        "description": "Cursor token representing the start of the next page."
                    }
                },
                "example": {
                    "after": "NTI1Cg%3D%3D",
                    "link": "?after=NTI1Cg%3D%3D"
                },
                "description": "Pagination details for retrieving the next page of results."
            },
            "SimplePublicObjectInputForCreate": {
                "required": [
                    "associations",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "description": "List of associations linking this tax to other CRM objects."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace ID for tracking the object write operation."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of property values for the new tax object."
                    }
                },
                "example": {
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A percentage-based fee of 10%",
                        "hs_value": "10",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input payload for creating a new tax object with properties and associations."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.goals.read": "Read goals",
                            "tickets": "Read and write tickets",
                            "crm.objects.custom.read": "View custom object records",
                            "e-commerce": "e-commerce",
                            "crm.objects.custom.write": "Change custom object records",
                            "media_bridge.read": "Read media and media events"
                        }
                    }
                }
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.companies.write": " ",
                            "crm.objects.contacts.write": " ",
                            "crm.objects.users.write": "Write User CRM objects",
                            "crm.objects.commercepayments.read": "Read the COMMERCE_PAYMENT object.",
                            "crm.objects.leads.write": "Modify lead objects",
                            "crm.objects.subscriptions.read": "Read Commerce Subscriptions",
                            "crm.objects.carts.read": "Read carts",
                            "crm.objects.orders.write": "Write orders",
                            "crm.objects.quotes.read": "Quotes",
                            "crm.objects.services.read": "Read services",
                            "crm.objects.orders.read": "Read Orders",
                            "crm.objects.contacts.read": " ",
                            "crm.objects.listings.read": "Read listings",
                            "crm.objects.carts.write": "Write cart",
                            "crm.objects.courses.write": "Write courses",
                            "crm.objects.quotes.write": "Quotes",
                            "crm.objects.users.read": "Read User CRM objects",
                            "crm.objects.companies.read": " ",
                            "crm.objects.appointments.read": "Read appointments",
                            "crm.objects.partner-clients.write": "Modify Partner Client CRM objects",
                            "crm.objects.leads.read": "Read lead objects",
                            "crm.objects.appointments.write": "Write appointments",
                            "crm.objects.services.write": "Write services",
                            "crm.objects.line_items.read": "Line Items",
                            "crm.objects.courses.read": "Read courses",
                            "crm.objects.deals.read": " ",
                            "crm.objects.invoices.read": "Read invoices objects",
                            "crm.objects.partner-clients.read": "View Partner Client CRM objects",
                            "crm.objects.deals.write": " ",
                            "crm.objects.line_items.write": "Line Items",
                            "crm.objects.listings.write": "Write listings"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "PHP",
        "Node",
        "Ruby",
        "Python"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}